n8n_workflow.json
{
  "name": "IBD Screener – Daily Run",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-5"
            }
          ]
        }
      },
      "notes": "Mon–Fri at 22:00 UTC (5 PM EST). Adjust to your timezone."
    },

    {
      "id": "node-run-script",
      "name": "Run Screener Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "command": "cd /path/to/swingtrader && python scripts/run_screener.py --ibd-file \"./input/IBD Data Tables.xlsx\" --lookback-days 365"
      },
      "notes": "Update the cd path to match where the project lives on your server. All log output goes to stderr; only the JSON result goes to stdout."
    },

    {
      "id": "node-parse-output",
      "name": "Parse JSON output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const stdout = $input.first().json.stdout;\nreturn [{ json: JSON.parse(stdout) }];"
      },
      "notes": "Execute Command returns { stdout, stderr, exitCode }. This extracts and parses the JSON the script printed."
    },

    {
      "id": "node-check-results",
      "name": "Any stocks passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.passed_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },

    {
      "id": "node-format-slack",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 160],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\n\nconst header = `*IBD Minervini Screener – ${data.run_date}*\\n` +\n  `_${data.total_ibd_tickers} IBD tickers → ` +\n  `${data.pre_screened_count} pre-screened → ` +\n  `*${data.passed_count} passed all criteria*_`;\n\nconst rows = data.passed_stocks.map(s =>\n  `• *${s.symbol}*  ${s.sector ?? 'N/A'} / ${s.subSector ?? 'N/A'}` +\n  `  |  EPS↑ ${s.increasing_eps ? '✅' : '❌'}` +\n  `  Beat 3Q ${s.beat_estimate ? '✅' : '❌'}`\n).join('\\n');\n\nconst blocks = [\n  { type: 'section', text: { type: 'mrkdwn', text: header } },\n  { type: 'divider' },\n  { type: 'section', text: { type: 'mrkdwn', text: rows } }\n];\n\nreturn [{ json: { blocks: JSON.stringify(blocks), text: header } }];"
      }
    },

    {
      "id": "node-slack-results",
      "name": "Post Results to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1100, 160],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#stock-screener",
        "blocksUi": "={{ $json.blocks }}",
        "text": "={{ $json.text }}",
        "otherOptions": { "unfurl_links": false }
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },

    {
      "id": "node-slack-empty",
      "name": "Post 'Nothing Today' to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [880, 440],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#stock-screener",
        "text": "={{ '*IBD Screener – ' + $('Parse JSON output').item.json.run_date + '*\\nNo stocks passed all criteria today.' }}"
      },
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },

    {
      "id": "node-split-stocks",
      "name": "Split passed_stocks into rows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1320, 160],
      "parameters": {
        "fieldToSplitOut": "passed_stocks",
        "options": {}
      },
      "notes": "One item per passing stock, ready to append to Google Sheets."
    },

    {
      "id": "node-add-date",
      "name": "Add run_date to each row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 160],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            { "name": "run_date",                    "value": "={{ $('Parse JSON output').item.json.run_date }}" },
            { "name": "symbol",                      "value": "={{ $json.symbol }}" },
            { "name": "sector",                      "value": "={{ $json.sector }}" },
            { "name": "subSector",                   "value": "={{ $json.subSector }}" },
            { "name": "increasing_eps",              "value": "={{ $json.increasing_eps }}" },
            { "name": "beat_estimate",               "value": "={{ $json.beat_estimate }}" },
            { "name": "PriceOverSMA150And200",       "value": "={{ $json.PriceOverSMA150And200 }}" },
            { "name": "SMA150AboveSMA200",           "value": "={{ $json.SMA150AboveSMA200 }}" },
            { "name": "SMA50AboveSMA150And200",      "value": "={{ $json.SMA50AboveSMA150And200 }}" },
            { "name": "SMA200Slope",                 "value": "={{ $json.SMA200Slope }}" },
            { "name": "PriceAbove25Percent52WeekLow","value": "={{ $json.PriceAbove25Percent52WeekLow }}" },
            { "name": "PriceWithin25Percent52WeekHigh","value":"={{ $json.PriceWithin25Percent52WeekHigh }}" },
            { "name": "RSOver70",                    "value": "={{ $json.RSOver70 }}" }
          ]
        }
      }
    },

    {
      "id": "node-sheets",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 160],
      "parameters": {
        "resource": "spreadsheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "screener_results",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "Sheet must have these headers in row 1: run_date, symbol, sector, subSector, increasing_eps, beat_estimate, PriceOverSMA150And200, SMA150AboveSMA200, SMA50AboveSMA150And200, SMA200Slope, PriceAbove25Percent52WeekLow, PriceWithin25Percent52WeekHigh, RSOver70"
    }
  ],

  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Run Screener Script", "type": "main", "index": 0 }]]
    },
    "Run Screener Script": {
      "main": [[{ "node": "Parse JSON output", "type": "main", "index": 0 }]]
    },
    "Parse JSON output": {
      "main": [[{ "node": "Any stocks passed?", "type": "main", "index": 0 }]]
    },
    "Any stocks passed?": {
      "main": [
        [{ "node": "Format Slack Message",          "type": "main", "index": 0 }],
        [{ "node": "Post 'Nothing Today' to Slack", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [[{ "node": "Post Results to Slack", "type": "main", "index": 0 }]]
    },
    "Post Results to Slack": {
      "main": [[{ "node": "Split passed_stocks into rows", "type": "main", "index": 0 }]]
    },
    "Split passed_stocks into rows": {
      "main": [[{ "node": "Add run_date to each row", "type": "main", "index": 0 }]]
    },
    "Add run_date to each row": {
      "main": [[{ "node": "Append to Google Sheets", "type": "main", "index": 0 }]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },

  "tags": ["screener", "ibd", "slack", "stocks"]
}
